body {
  margin-top: 60pt;
}

h1.titulo-pagina {
  color: white;
  size: 20pt;
  margin: 0pt auto;
}

#titulo-pagina {
  color: white;
  text-align: center;
}

#modal-post {
  display: none;
}

#modal-confirmacao {
  display: none;
}

#div-adicionar {
  height: 30pt;
}

button.btn-secondary {
  border-radius: 20pt;
}

button.btn-danger {
  border-radius: 20pt;
}

button.btn-primary {
  border-radius: 20pt;
}

button.btn-success {
  border-radius: 20pt;
}